
/*----------------------------------------------------------------------------*/

body {
    background: rgb(215, 215, 215);
}

/*----------------------------------------------------------------------------*/

.impress-enabled .step-overview .step {
    opacity: 1;
    cursor: pointer;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.8;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

/*----------------------------------------------------------------------------*/

article {
    display: block;

    position: relative;
    width: 900px;
    height: 700px;
    padding: 40px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);

    font-family: 'Tahoma', sans-serif;
    font-size: 34px;
    line-height: 120%;
}

article header {
    border-bottom: solid thin;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

article header img { display: inline-block; }
article header h2 {
    padding-left: 10px;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
}

article footer {
    border-top: solid 1pt;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 820px;
    height: 60px;
    font-size: 0.5em;
}

article footer p { display: inline-block; }
article footer .date {
    width:100px;
    text-align: left;
}
article footer .text {
    width: 605px;
    text-align: center;
}
article footer .page {
    width: 100px;
    text-align: right;
}

article li {
    line-height: 120%;
}

article table {
    font-size: 0.5em;
    line-height: 120%;
}

article dl {
    font-size: 0.5em;
    line-height: 120px;
}

.text-box {
    font-size: 0.4em;
    line-height: 120%;
    text-align: left;
    margin-top: 15px;
    padding: 10px;
    background-color: #fcf8e3;
}

.indicator {
    display: block;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;

    font-size: 30px;
    padding: 20px;

    z-index: 100;

    opacity: 0;
}

.watermark {
    position: absolute;
    opacity: 0.2;
    font-size: 4em;
    width: 100%;
    text-align: center;
    z-index: 1000;
    top: 350px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

/*----------------------------------------------------------------------------*/

#title h1 {
    padding-top: 150px;
    padding-bottom: 100px;
    font-size: 1.4em;
    line-height: 120%;
    text-align: center;
}

#title p {
    text-align: center;
}

.caption {
    position:absolute;
    bottom:30px;
    width:100%;
    color:white;
    font-weight:bold;
    background-color: rgba(0,0,0,0.5);
}

.pic-2x2 {
    width:49%;
    height:220px;
    overflow:hidden;
    position:relative;
    margin-bottom:10px;
}


pre {
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 20px;
    margin: 0px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Monaco,Courier New,Courier,monospace;
    font-size: 1em;
    line-height: 1em;
}

/*----------------------------------------------------------------------------*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*----------------------------------------------------------------------------*/

.hint {
    display: none;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;

    font-size: 1.4em;
    padding: 20px;

    z-index: 100;

    opacity: 0;

    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint { display: block }

.impress-on-title .hint {
    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}
