<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
  <head>
    <meta charset="utf-8">
    <title>LIVE-TEST-CLIENT-TS</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="lib/angular.min.js"></script>
    <script src="lib/d3.v2.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/chart.js"></script>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap-responsive-min.css" rel="stylesheet">
  
  
    <script>
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
  

  </head>
  <body ng-controller="MainCtrl">

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Live-Test-Client-Ts</a>
            <p class="navbar-text pull-right">Version {{version}}</p>
          </div>
        </div>
      </div>
    
    <div class="container">

    <div class="row">
      <div class="span12">
        <form class="form-horizontal" ng-submit="getDimensions()">
          <legend>Web Service</legend>

          <div class="control-group">
            <label class="control-label" for="inputWSName">Web Service URL</label>
            <div class="controls">
              <input type="url" id="inputWSName" ng-model="wsName" ng-change="changeDimUrl()" class="input-xxlarge" placeholder="http://localhost:8081" autofocus></input>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="inputDFName">Data Flow Identifier</label>
            <div class="controls">
              <input type="text" id="inputDFName" ng-model="dfName" ng-change="changeDimUrl()" placeholder="ECB_ICP1"></input>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputKey">Key (optional)</label>
            <div class="controls">
              <input type="text" id="inputKey" ng-model="key" ng-change="changeDimUrl()"></input>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="inputCustomParameters">Custom Parameters (optional)</label>
            <div class="controls">
              <input type="text" id="inputDFName" ng-model="customParams" ng-change="changeDimUrl()"></input>
            </div>
          </div>
          
          <div class="control-group">
            <div class="controls">
              <label>{{dimUrl}}</label>
              <button type="submit" class="btn">Get Dimensions</button>
            </div>
          </div>
        </form>       
      </div>
    </div>

    <div class="row" ng-show="state.dimensionRequestRunning">
      <div class="span12">
        <div class="alert alert-info">
          <button type="button" class="close" ng-click="state.dimensionRequestRunning=false">×</button>
          <h4>Please wait</h4>
          <p>Requesting dimensions from {{wsName}}.</p>
          <p ng-repeat="error in response.errors">{{error}}</p>
        </div>        
      </div>        
    </div>        
    
    <div class="row" ng-show="state.httpError">
      <div class="span12">
        <div class="alert alert-error">
          <button type="button" class="close" ng-click="state.httpError=false">×</button>
          <h4>Request failed</h4>
          <p>Status code: {{response.status}}</p>
          <p ng-repeat="error in response.errors">{{error}}</p>
        </div>        
      </div>        
    </div>        

    <div class="row">
      <div class="span12">
        <form class="form">
          <legend>Dimensions</legend>

          <div ng-repeat="dim in dimensions.seriesKeyDims">
          <h5>
            <button ng-click="dimensions[dim].show = ! dimensions[dim].show">{{showButtonText(dimensions[dim].show)}}</button>
            {{dimensions[dim].name}} 
            ( {{dimensions[dim].codes.id.length}} codes
            / selected codes:
            <span ng-repeat="code in dimensions[dim].codes.checked">
              <abbr title="{{dimensions[dim].codes[code].name}}">{{code}}</abbr>&nbsp;
            </span>
            )
          </h5>

          <table class="table table-condensed table-bordered" ng-show="dimensions[dim].show">
            <thead>
              <th></th><th>#</th><th>ID</th><th>Name</th>
            </thead>
            <tbody>
              <tr ng-repeat="code in dimensions[dim].codes.id" 
              ng-class="{success: dimensions[dim].codes[code].checked}">
                <td><input class="toggle" type="checkbox" ng-model="dimensions[dim].codes[code].checked" ng-change="changeCheckedCodes()"/></td>
                <td>{{dimensions[dim].codes[code].index}}</td>
                <td>{{dimensions[dim].codes[code].id}}</td>
                <td>{{dimensions[dim].codes[code].name}}</td>
              </tr>
            </tbody>
          </table>

          </div>
          <label>{{dataUrl}}</label>

          <button type="submit" class="btn" ng-click="getData()">Get Data</button>
          
        </form>
      </div>        
    </div>        

    <div class="row" ng-show="state.dataRequestRunning">
      <div class="span12">
        <div class="alert alert-info">
          <button type="button" class="close" ng-click="state.dataRequestRunning=false">×</button>
          <h4>Please wait</h4>
          <p>Requesting data from {{wsName}}.</p>
          <p ng-repeat="error in response.errors">{{error}}</p>
        </div>        
      </div>        
    </div>        

    <div class="row" ng-show="state.httpErrorData">
      <div class="span12">
        <div class="alert alert-error">
          <button type="button" class="close" ng-click="state.httpErrorData=false">×</button>
          <h4>Request failed</h4>
          <p>Status code: {{response.status}}</p>
          <p ng-repeat="error in response.errors">{{error}}</p>
        </div>        
      </div>        
    </div>        

    <div class="row">
      <div class="span12">
        <form class="form">
          <legend>Time Series</legend>

          <p>
            Runtime: {{requestRuntime}} ms, time series: {{data.timeseries.length}}
          </p>

          <p ng-repeat="attr in data.commonDimensions">
            <strong>{{attr.name}}</strong>: {{attr.value}}
          </p>

          <table class="table table-condensed">
            <tbody>
              <tr ng-repeat="series in data.timeseries">
                <td>
                  <table>
                    <tr>
                      <td rowspan="3">
                          <button ng-click="series.show = ! series.show">
                          {{showButtonText(series.show)}}
                          </button>
                      </td>
                      <td>
                        <p ng-repeat="code in series.keynames">
                          <strong>{{code.name}}</strong>: {{code.value}}
                        </p>
                      </td>
                      <td>{{series.keycodes.join(".")}}</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <gh-chart data="series.observations"></gh-chart>
                      </td>
                    </tr>
                    <tr ng-show="series.show">
                      <td colspan="2">
                        <p ng-repeat="attr in series.attributes">
                          <strong>{{attr.name}}</strong>: {{attr.value}}
                        </p>
                      </td>
                      <td></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>          
        </form>
      </div>        
    </div>        



    <script src="lib/jquery-1.8.2.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
  
    </div>
  </body>
</html>
