<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
  <head>
    <meta charset="utf-8">
    <title>PERF-TEST-CLIENT-2</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="lib/angular.min.js"></script>
    <script src="lib/crossfilter.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/chart.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">


<!--
    <script>
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>

 -->

  </head>
  <body ng-controller="MainCtrl">

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Perf-Test-Client-2</a>
            <p class="navbar-text pull-right">Version {{version}}</p>
          </div>
        </div>
      </div>

    <div class="container">

    <div class="row">
      <div class="span12">
        <form class="form-horizontal">
          <legend>Web Service</legend>

          <div class="control-group">
            <label class="control-label" for="inputWSName">Web Service URL</label>
            <div class="controls">
              <input type="url" id="inputWSName" ng-model="wsName" ng-change="changeTestUrl()" class="input-xxlarge" placeholder="http://localhost:8081" autofocus></input>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputDFName">Data Flow Identifier</label>
            <div class="controls">
              <input type="text" id="inputDFName" ng-model="dfName" ng-change="changeTestUrl()" placeholder="ECB_ICP1" class="input-xlarge"></input>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputKey">Key (optional)</label>
            <div class="controls">
              <input type="text" id="inputKey" ng-model="key" ng-change="changeTestUrl()" class="input-xlarge"></input>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="inputCustomParameters">Custom Parameters (optional)</label>
            <div class="controls">
              <input type="text" id="inputDFName" ng-model="customParams" ng-change="changeDimUrl()" class="input-xlarge"></input>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div class="row" ng-show="state.testRunning">
      <div class="span12">
        <div class="alert alert-info">
          <button type="button" class="close" ng-click="state.testRunning=false">×</button>
          <h4>Please wait</h4>
          <p>Running tests from {{wsName}}.</p>
        </div>
      </div>
    </div>

    <div class="row" ng-show="state.httpError">
      <div class="span12">
        <div class="alert alert-error">
          <button type="button" class="close" ng-click="state.httpError=false">×</button>
          <h4>Request failed</h4>
          <p>Status code: {{response.status}}</p>
          <p ng-repeat="error in response.errors">{{error}}</p>
        </div>
      </div>
    </div>


    <div class="row" ng-show="false">
      <div class="span12">
        <form class="form-horizontal">
          <legend>Crossfilter</legend>

          <button type="button" ng-click="testCrossfilter()">Crossfilter</button><br><br>
          <table class="table table-condensed table-bordered">
            <tr ng-repeat="data in crossFilterOutput">
              <th>{{data.name}}</th>
              <td align="left">{{data.value}}</td>
            </tr>
          </table>
        </form>
      </div>
    </div>


    <div class="row">
      <div class="span12">
        <form class="form-horizontal">
          <legend>Dimensions</legend>

          <button type="button" ng-click="getDimensions()">Get Codes</button><br><br>
          <table class="table table-condensed table-bordered">
            <tr ng-repeat="dim in dimensions">
              <th>{{dim.name}}</th>
              <td align="left">{{dim.codes}}</td>
            </tr>
          </table>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <H2>Tests</H2>

        <p>
          <span ng-repeat="format in formats">
            <button type="button" ng-click="runTest(format)">{{format}}</button>
          </span>
        </p>

        <p>
          {{url}}
        </p>

        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>Format</th>
              <th>Request</th>
              <th>Response size</th>
              <th>Parse JSON</th>
              <th>Initialize</th>
              <th>Memory</th>
              <th>Flatten to simple array</th>
              <th>Flatten to complex array</th>
              <th>Access all cells with keys</th>
              <th>Simple array obs count</th>
              <th>Cube size</th>
              <th>Simple array density</th>
              <th>Simple array checksum</th>
              <th>Complex array checksum</th>
              <th>Cell access checksum</th>
              <th>Checksum</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="result in results">
              <td>{{result.format}}</td>
              <td>{{result.requestTime}}</td>
              <td>{{result.responseSize}}</td>
              <td>{{result.parseTime}}</td>
              <td>{{result.initTime}}</td>
              <td>{{result.memory}}</td>
              <td>{{result.flattenToSimpleArray}}</td>
              <td>{{result.flattenToComplexArray}}</td>
              <td>{{result.cellAccess}}</td>
              <td>{{result.simpleArrayLength}}</td>
              <td>{{result.obsCount}}</td>
              <td>{{result.density}}</td>
              <td>{{result.simpleArrayChecksum}}</td>
              <td>{{result.complexArrayChecksum}}</td>
              <td>{{result.cellAccessChecksum}}</td>
              <td>{{result.dataChecksum}}</td>
            </tr>
          </tbody>
        </table>

        <dl>
          <dt>Request</dt>
          <dd>Time to make the request to the Web Service in ms.</dd>
          <dt>Response size</dt>
          <dd>Uncompressed size of the JSON response in KB/MB.</dd>
          <dt>Parse JSON</dt>
          <dd>Time to parse the JSON response with JSON.parse() in ms.</dd>
          <dt>Initialize</dt>
          <dd>Time to initialize the data structure (create indices etc.) in memory ms.</dd>
          <dt>Memory</dt>
          <dd>Memory allocation (does not currently work).</dd>

          <dt>Flatten to simple array</dt>
          <dd>Time to flatten the response into simple array with value indeces</dd>
          <dt>Flatten to complex array</dt>
          <dd>Time to flatten the response into complex array with references to values</dd>

          <dt>Simple array obs count</dt>
          <dd>Number of records in the simple array</dd>
          <dt>Obs count (cube)</dt>
          <dd>Theoretical number of observations in the response.
            Calculated by multiplying the number of codes in each dimension.</dd>
          <dt>Simple array density</dt>
          <dd>Number of records divided by the theoretical number of observation in the response.</dd>

          <dt>Simple array checksum</dt>
          <dd>Checksum calculated from the observation values in the simple array</dd>
          <dt>Complex array checksum</dt>
          <dd>Checksum calculated from the observation values in the complex array</dd>
          <dt>Checksum</dt>
          <dd>Checksum calculated directly from the observation values in the response.</dd>

        </dl>

      </div>
    </div>

    <script src="lib/jquery-1.8.2.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    </div>
  </body>
</html>
